@page "/"

<Example Title="Scatter Chart" Url="Plotly.Blazor.Examples/Components/ScatterChart.razor">
    <ScatterChart/>
    <p>@PlanspielWebApp.Controller.FetchTableDataController.ReadValueFromXML("marketData.xml", 1, 1, "PricePerPC")</p>
</Example>