<h1>@Title</h1>


    
            <Container Fluid="true">
                <br/>
                @ChildContent
            </Container>
        
            <Container Fluid="true">
                <br/>
                <CodeSnippet Url="@Url"/>
            </Container>
    

@code{
    //string selectedTab = "example";

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Url { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    //private void OnSelectedTabChanged(string name)
    //{
    //    selectedTab = name;
    //}

}