@using Plotly.Blazor.Examples.Controller
@using Plotly.Blazor.Examples.Models
@inherits LayoutComponentBase

<div class="sidebar" style="font-family: 'Anaheim'">
    <NavMenu />
</div>

<div class="main" style="font-family: 'Anaheim'">
    <div class="top-row px-2">
        <table class="table" style="width:100%; background-color:transparent; outline-color:transparent">
            <tr style="border: 0px solid #dddddd; background-color: transparent;">
                <td class="center" style="font-size:1.1em; font-weight:800; text-align:left; left:35%; border: 0px solid #dddddd; background-color: transparent;">Kontostand: @SetupData.AccountBalance.ToString("N0") DM</td>
                <td class="center" style="font-size:1.1em; border: 0px solid #dddddd; background-color: transparent;">Nachfrage: @SetupData.PCDemandLastRound %</td>
                <td class="center" style="font-size:1.1em; text-align:right; left:65%; border: 0px solid #dddddd; background-color: transparent;">Auslastung: @SetupData.Efficiency %</td>
            </tr>
        </table>
    </div>

<div class="content px-4" style="font-family: 'Anaheim'">
    @Body
</div>
</div>